{% load staticfiles %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Acompañamiento Estudiantil</title>
    <meta name="description" content="Ela Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="https://i.imgur.com/QRAUqs9.png">
    <link rel="shortcut icon" href="https://i.imgur.com/QRAUqs9.png">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/cs-skin-elastic.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->



</head>


<body class="bg-dark">

    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            
            <div class="login-content">
                    
                <div class="login-logo">
                        <p>Registrar Tutoria</p>
                    <a href="index.html">
                        <img class="align-content" src="{% static 'images/usta.jpg' %}" alt="">
                    </a>
                </div>
                <div class="login-form">
                    <form>
                       
                        <div class="form-group">
                            <label>Tema</label>
                            <input type="text" class="form-control" placeholder="Tema">
                        </div>

                        <div class="form-group">
                            <label>Nombre Estudiante</label>
                            <input type="text" class="form-control" placeholder="nombre">
                        </div>

                        <div class="form-group">
                            <label>Nombre Acudiente</label>
                            <input type="text" class="form-control" placeholder="nombre">
                        </div>

                        <div class="form-group">
                            <label>FECHA</label>
                            <input type="date" class="form-control" placeholder="Fecha tutoria">
                        </div>

                        <div class="form-group">
                            <label>OBSERVACIÓN</label>
                            <input type="text" class="form-control" placeholder="...">
                        </div>

                        <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30"> Registrar tutoria  <i class="fa fa-arrow-circle-right"></i></button>
                      
                        <div class="register-link m-t-15 text-center">
                            <p>¿No sabes diligenciar el formato?<a href="#"> Mira el siguiente tutorial!!</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>

</body>
</html>